@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --primaryColour: #fbc91b;
  --greyColour: #f2f2f2;
  --blackForText: rgba(0, 0, 0, 0.8);
  --greyForText: rgba(0, 0, 0, 0.5);
  --font: "Open Sans", sans-serif;
}
body {
  font-family: var(--font);
}
.header--logo {
  height: 51px;
  color: var(--primaryColour);
  font-weight: bolder;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.header--logo > span {
  color: var(--blackForText);
}
